<!doctype html>
<head>
<title>Jom Beli Mall</title>
</head>
<html>
   <body>
   
      <h1>About Us:</h1>
      <img src="https://www.thebalancesmb.com/thmb/u1WdlFpZiucvGD6ndefbtGRDdjI=/800x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/DressForSuccess-56a8303f5f9b58b7d0f166fb.jpg" alt="Beli ler" style="width:300px;height:200px;></br>
      </br>
      <a href="/about-us"></a></br>
      <p>We are the online mall which strive to deliver quality product.</p>
      <a href="https://localhost/">Back To Home</a></br>
      </br>
      Copyright JomBeliMall Sdn Bhd 2021. All Right Reserved
      
   </body>
</html>
